.container{
    display:flex;
    width: 720px;
    height: 720px;
    background-color: grey;
    margin: 0 auto;
    flex-wrap: wrap;
}

.square {
    /* width: 30px; */
    /* height: 30px; */
    background-color: darkslateblue;
}