.container{
    display:flex;
    width: 720px;
    height: 720px;
    background-color: rgb(255, 0, 0);
    margin: 0 auto;
    flex-wrap: wrap;
}

.square {
    /* width: 30px; */
    /* height: 30px; */
    background-color: gainsboro;
}

/* .square:hover {
    background-color: #d7d7d7;
} */